<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    
    <key>[愉快]</key>
   <string>yukuai.png</string>
   <key>[笑]</key>
   <string>daxiao.png</string>
   <key>[害羞]</key>
   <string>haixiu.png</string>
   <key>[可爱]</key>
   <string>keai.png</string>
   <key>[坏笑]</key>
   <string>huaixiao.png</string>
   <key>[闭嘴]</key>
   <string>bizui.png</string>
   <key>[奋斗]</key>
   <string>fendou.png</string>
   <key>[呲牙]</key>
   <string>ciya.png</string>
   <key>[得意]</key>
   <string>deyi.png</string>
   <key>[瞪眼]</key>
   <string>dengyan.png</string>
   <key>[嘘]</key>
   <string>xv.png</string>
   <key>[傲慢]</key>
   <string>aoman.png</string>
   <key>[Kiss]</key>
   <string>kiss.png</string>
   <key>[cool]</key>
   <string>cool.png</string>
   <key>[难过]</key>
   <string>nanguo.png</string>
   <key>[鄙视]</key>
   <string>bishi.png</string>
   <key>[色]</key>
   <string>haose.png</string>
   <key>[撇嘴]</key>
   <string>piezui.png</string>
   <key>[糗大了]</key>
  <string>qiudale.png</string>
   <key>[鼓掌]</key>
   <string>guzhang.png</string>
   <key>[疑问]</key>
   <string>yiwen.png</string>
   <key>[阴险]</key>
   <string>yinxian.png</string>
   <key>[右哼哼]</key>
   <string>youhengheng.png</string>
   <key>[左哼哼]</key>
   <string>zuohengheng.png</string>
   <key>[抓狂]</key>
   <string>zhuakuang.png</string>
   <key>[尴尬]</key>
   <string>ganga.png</string>
   <key>[咒骂]</key>
   <string>zhouma.png</string>
   <key>[再见]</key>
   <string>zaijian.png</string>
   <key>[哈欠]</key>
   <string>haqian.png</string>
   <key>[惊恐]</key>
   <string>jingkong.png</string>
   <key>[惊讶]</key>
   <string>jingya.png</string>
   <key>[可怜]</key>
   <string>kelian.png</string>
   <key>[抠鼻]</key>
   <string>koubi.png</string>
   <key>[睡觉]</key>
   <string>shuijiao.png</string>
   <key>[偷笑]</key>
   <string>touxiao.png</string>
   <key>[呕吐]</key>
   <string>outu.png</string>
   <key>[吐舌头]</key>
   <string>tushetou.png</string>
   <key>[委屈]</key>
   <string>weiqu.png</string>
   <key>[吓]</key>
   <string>xia.png</string>
   <key>[大哭]</key>
   <string>daku.png</string>
   <key>[困]</key>
   <string>kun.png</string>
   <key>[冷汗]</key>
   <string>lenghan.png</string>
   <key>[流汗]</key>
    <string>liuhan.png</string>
   <key>[流泪]</key>
   <string>liulei.png</string>
   <key>[呆]</key>
   <string>dai.png</string>
   <key>[晕]</key>
    <string>yun.png</string>
   <key>[快哭了]</key>
   <string>kuaikule.png</string>
   <key>[擦汗]</key>
   <string>cahan.png</string>
   <key>[折磨]</key>
   <string>zhemo.png</string>
   <key>[砸]</key>
   <string>za.png</string>
   <key>[衰]</key>
   <string>shuai.png</string>
   <key>[生气]</key>
   <string>shengqi.png</string>
   <key>[大兵]</key>
   <string>dabing.png</string>
   <key>[心碎]</key>
   <string>xinsui.png</string>
   <key>[OK]</key>
   <string>ok.png</string>
   <key>[NO]</key>
   <string>no.png</string>
   <key>[胜利]</key>
   <string>shengli.png</string>
   <key>[爱]</key>
   <string>ai.png</string>
   <key>[抱拳]</key>
   <string>baoquan.png</string>
   <key>[勾引]</key>
   <string>gouyin.png</string>
   <key>[拳头]</key>
   <string>quantou.png</string>
   <key>[强]</key>
   <string>qiang.png</string>
   <key>[弱]</key>
   <string>ruo.png</string>
   <key>[握手]</key>
   <string>woshou.png</string>
   <key>[小拇指]</key>
   <string>xiaomuzhi.png</string>
   <key>[蛋糕]</key>
   <string>dangao.png</string>
   <key>[菜刀]</key>
   <string>caidao.png</string>
   <key>[刀]</key>
   <string>dao.png</string>
   <key>[凋谢]</key>
   <string>diaoxie.png</string>
   <key>[大便]</key>
   <string>dabian.png</string>
   <key>[红唇]</key>
   <string>hongchun.png</string>
   <key>[骷髅]</key>
   <string>kulou.png</string>
   <key>[玫瑰]</key>
   <string>meigui.png</string>
   <key>[米饭]</key>
   <string>mifan.png</string>
   <key>[啤酒]</key>
   <string>pijiu.png</string>
   <key>[闪电]</key>
   <string>shandian.png</string>
   <key>[心]</key>
   <string>xin.png</string>
   <key>[炸弹]</key>
   <string>zhadan.png</string>
   <key>[猪头]</key>
   <string>zhutou.png</string>
   <key>[足球]</key>
    <string>zuqiu.png</string>
   <key>[气球]</key>
   <string>qiqiu.png</string>
</dict>
</plist>
