<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>[\欢呼]</key>
    <string>cheers.png</string>
    <key>[\拜托]</key>
    <string>please.png</string>
    <key>[\棒]</key>
    <string>good.png</string>
    <key>[\抓狂]</key>
    <string>crazy.png</string>
    <key>[\讨厌]</key>
    <string>hate.png</string>
    <key>[\疑问]</key>
    <string>doubt.png</string>
    <key>[\弱爆了]</key>
    <string>weak.png</string>
    <key>[\来玩呀]</key>
    <string>play.png</string>
    <key>[\么么哒]</key>
    <string>memeda.png</string>
    <key>[\抠鼻]</key>
    <string>picknose.png</string>
    <key>[\猫咪]</key>
    <string>cat.png</string>
    <key>[\哭]</key>
    <string>cry.png</string>
    <key>[\牛]</key>
    <string>cow.png</string>
    <key>[\挠头]</key>
    <string>scratchinghead.png</string>
    <key>[\困]</key>
    <string>trapped.png</string>
    <key>[\馋]</key>
    <string>chan.png</string>
    <key>[\流泪]</key>
    <string>tears.png</string>
    <key>[\呕吐]</key>
    <string>vomiting.png</string>
    <key>[\恶魔]</key>
    <string>devil.png</string>
    <key>[\哈哈]</key>
    <string>haha.png</string>
    <key>[\OK]</key>
    <string>ok1.png</string>
    <key>[\亲亲]</key>
    <string>kiss1.png</string>
    <key>[\再见]</key>
    <string>bye.png</string>
    <key>[\加油]</key>
    <string>comeon.png</string>
    <key>[\委屈]</key>
    <string>injustice.png</string>
    <key>[\惊吓]</key>
    <string>frightened.png</string>
    <key>[\没办法]</key>
    <string>noway.png</string>
    <key>[\怒火]</key>
    <string>anger.png</string>
    <key>[\思考]</key>
    <string>thinking.png</string>
    <key>[\嗨]</key>
    <string>hi.png</string>
    <key>[\爱你]</key>
    <string>love.png</string>
    <key>[\灵感]</key>
    <string>idear.png</string>
    <key>[\汗]</key>
    <string>sweat.png</string>
    <key>[\鼓掌]</key>
    <string>clap.png</string>
    <key>[\挨揍]</key>
    <string>beaten.png</string>
    <key>[\开枪]</key>
    <string>biu.png</string>
    <key>[\思索]</key>
    <string>puzzleout.png</string>
</dict>
</plist>
